<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ruolan.letgo">


    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--设置页面-->
        <activity android:name=".Activity.SettingActivity"/>
        <!--排行榜-->
        <activity android:name=".Activity.RankingActivity"/>
        <!--分类页面-->
        <activity android:name=".Activity.ClassifyActivity"/>
        <!--排行显示数据页面-->
        <activity android:name=".Activity.RankingShowActivity"/>
        <!--排行周榜 月榜 年榜-->
        <activity android:name=".Activity.RankingDetailActivity"/>
        <!--分类排行榜详细页面-->
        <activity android:name=".Activity.ClassifyDetailActivity"/>
    </application>

</manifest>
